@media screen and (max-width: 900px) {


    .nav ul {
        display: none;
    }

    .nav {
        display: block;
    }
}


@media (min-width: 900px) and (max-width:1096px) {
    .nav {
        gap: 10px;
        justify-content: space-around;
    }
}

.search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .search-input {
    width: 70%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .search-input:focus {
    border-color: #1976d2;
  }